.hide {
    display: none;
}
.btn {
    font-size: 16px;
}
#cart {
    position: relative;
    padding-right: 8px;
}
#cart .count {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
    color: red;
}
.info-error{
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
    font-family: "Droid Sans";
}
.info-success{
    font-size: 20px;
    color: #959595;
    font-family: "Droid Sans";
}

table td {
    vertical-align: top;
}
table input[type="text"] {
    width: auto;
}
.order-form {
    padding: 0 20px;
}
.formblock {
    margin-bottom: 15px;
}
#orderForm {
    margin-bottom: 40px;
}
#orderForm #press_order {
    margin-left: 8px;
}
.captcha input {
    margin-bottom: 25px;
}
.captcha-loader {
    display: inline-block;
    vertical-align: baseline;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQ9JREFUeNqsVNENwiAQbY3/MkJH6AZ2AxmBERxBJ2icoCPgBtUJ2g3aDeoG+C5eIyIUTXnJCwEuj7vj7rLsBxhjCrAieu5K80JJ++2CiMJyAKVzTssIXsELKPhKeAXZiwYswB48gzfLhM73ID14ZOGwV+z+4AvPCVOCrXlDuUaSLzQoIjn1QdkGApzALiZmfVK5ZHCyf2o12DudQKey60glEGw3Vh2NCYK9b7LEIMGHVbBrsZtj10uF/EcOh2Sh8vAweSIx+tguVOAtd8wMHRPjlJmvtDnN3nB/F5EW7IJ1zCKGO2fivW+oSsdWxnqaXq7ZOISB7T+GSe4I0sCsc8AZuIVVp9RRPUx6n1NPAQYASOZuWM18aIEAAAAASUVORK5CYII=');
    margin-left: 10px;
}
